[Unit]
Description=Triage a RPIBoot Device, invoking the signed boot provisioner if it's a new device.
# BindTo would cause the service to be stopped if the device disappears
#BindTo=%i.device
After=%i.device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/triage.sh /%I
# '/' is needed - otherwise triage does not use correct address of device
EnvironmentFile=/etc/rpi-sb-provisioner/config
