[Unit]
Description=Provision a Raspberry Pi Device an OS that you supply inside of a LUKSv2 container tied to the device.

[Service]
Type=notify
ExecStart=/usr/bin/rpi-fde-provisioner.sh %I
EnvironmentFile=/etc/rpi-sb-provisioner/config
