[Unit]
Description=Bootstrap a Raspberry Pi device in to Fastboot, for full-disk encryption setup
After=%i.device

[Service]
Type=notify
ExecStart=/usr/bin/rpi-sb-bootstrap.sh /%I
# '/' is needed - otherwise triage does not use correct address of device
EnvironmentFile=/etc/rpi-sb-provisioner/config
