[Unit]
Description=Provision a Raspberry Pi Device with an OS that you supply

[Service]
Type=notify
ExecStart=/usr/bin/rpi-naked-provisioner.sh %I
EnvironmentFile=/etc/rpi-sb-provisioner/config
