[Unit]
Description=Triage a Raspberry Pi Fastboot device

[Service]
Type=oneshot
ExecStart=/usr/bin/rpi-sb-triage.sh %I
EnvironmentFile=/etc/rpi-sb-provisioner/config
