#!/usr/bin/make -f

export DH_VERBOSE = 1

# Enable all hardening options available in Debian
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Allow network access during the build
export DEB_BUILD_NETWORK = yes

# Target to generate the man page
debian/rpi-sb-provisioner.1:
	# First create the content from the README
	asciidoctor -b docbook --attribute leveloffset=+1 --out-file - README.adoc |\
	  pandoc -f docbook -s -t man --shift-heading-level-by=-1 > debian/rpi-sb-provisioner.1.tmp
	  
	# Now add proper NAME section with awk and create final man page
	awk 'BEGIN { print ".TH \"rpi-sb-provisioner\" \"1\" \"\" \"\" \"User Commands\""; \
	             print ".SH NAME"; \
	             print "rpi-sb-provisioner \\- Raspberry Pi Secure Boot Provisioner"; \
	             first_section = 1; } \
	     /^\.SH / { if (first_section) { first_section = 0; } else { print; } next; } \
	     /^\.TH / { next; } \
	     /^\.hy/ { next; } \
	     { if (!first_section) print; }' debian/rpi-sb-provisioner.1.tmp > debian/rpi-sb-provisioner.1
	     
	# Clean up temporary file
	rm -f debian/rpi-sb-provisioner.1.tmp

%:
	# Generate the man page before running dh
	$(MAKE) -f debian/rules debian/rpi-sb-provisioner.1
	dh $@

# Configure the CMake project with network fetch enabled
override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=provisioner-service -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DFETCHCONTENT_FULLY_DISCONNECTED=OFF \
		-DFETCHCONTENT_QUIET=OFF

# Build the CMake project
override_dh_auto_build:
	dh_auto_build --sourcedirectory=provisioner-service

# Install the CMake project but exclude drogon tools
override_dh_auto_install:
	dh_auto_install --sourcedirectory=provisioner-service
	# Completely remove the unwanted binaries
	rm -f debian/usr/bin/drogon_ctl
	rm -f debian/usr/bin/dg_ctl

# Explicitly control what gets installed
override_dh_install:
	dh_install --exclude=drogon_ctl --exclude=dg_ctl

# Final check to ensure these files don't get included
override_dh_builddeb:
	find debian/rpi-sb-provisioner -name drogon_ctl -delete
	find debian/rpi-sb-provisioner -name dg_ctl -delete
	dh_builddeb